In [1]:
import pandas as pd
import datetime

pd.options.display.max_columns = 50

In [2]:
# Function to calculate missing values by column
def missing_values_table(df):
        # Total missing values
        mis_val = df.isnull().sum()
        
        # Percentage of missing values
        mis_val_percent = 100 * df.isnull().sum() / len(df)
        
        # Make a table with the results
        mis_val_table = pd.concat([mis_val, mis_val_percent], axis=1)
        
        # Rename the columns
        mis_val_table_ren_columns = mis_val_table.rename(
        columns = {0 : 'Missing Values', 1 : '% of Total Values'})
        
        # Sort the table by percentage of missing descending
        mis_val_table_ren_columns = mis_val_table_ren_columns[
            mis_val_table_ren_columns.iloc[:,1] != 0].sort_values(
        '% of Total Values', ascending=False).round(1)
        
        # Print some summary information
        print ("Your selected dataframe has " + str(df.shape[1]) + " columns.\n"      
            "There are " + str(mis_val_table_ren_columns.shape[0]) +
              " columns that have missing values.")
        
        # Return the dataframe with missing information
        return mis_val_table_ren_columns

In [3]:
flights = pd.read_csv('df_2015.csv')
flights

,YEAR,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,OP_CARRIER,TAIL_NUM,OP_CARRIER_FL_NUM,ORIGIN,ORIGIN_CITY_NAME,DEST,DEST_CITY_NAME,CRS_DEP_TIME,DEP_DELAY,DEP_DELAY_GROUP,TAXI_OUT,WHEELS_OFF,WHEELS_ON,TAXI_IN,CRS_ARR_TIME,ARR_DELAY,ARR_DELAY_GROUP,CANCELLED,CANCELLATION_CODE,DIVERTED,ACTUAL_ELAPSED_TIME,AIR_TIME,FLIGHTS,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,FIRST_DEP_TIME,TOTAL_ADD_GTIME,LONGEST_ADD_GTIME
0,2015,4,23,4,AA,N3FJAA,165,ORD,Chicago,PHX,Phoenix,1210,-8.0,-1.0,15.0,1217.0,1356.0,6.0,1414,-12.0,-1.0,0.0,NaN,0.0,240.0,219.0,1.0,1440.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2015,4,24,5,AA,N3BAAA,165,ORD,Chicago,PHX,Phoenix,1210,4.0,0.0,19.0,1233.0,1417.0,12.0,1414,15.0,1.0,0.0,NaN,0.0,255.0,224.0,1.0,1440.0,0.0,0.0,15.0,0.0,0.0,NaN,NaN,NaN
2,2015,4,25,6,AA,N3CUAA,165,ORD,Chicago,PHX,Phoenix,1210,44.0,2.0,24.0,1318.0,1441.0,4.0,1414,31.0,2.0,0.0,NaN,0.0,231.0,203.0,1.0,1440.0,31.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
3,2015,4,26,7,AA,N3HKAA,165,ORD,Chicago,PHX,Phoenix,1210,-5.0,-1.0,11.0,1216.0,1326.0,4.0,1414,-44.0,-2.0,0.0,NaN,0.0,205.0,190.0,1.0,1440.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2015,4,27,1,AA,N3DMAA,165,ORD,Chicago,PHX,Phoenix,1210,9.0,0.0,11.0,1230.0,1328.0,22.0,1414,-24.0,-2.0,0.0,NaN,0.0,211.0,178.0,1.0,1440.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5819074,2015,9,19,6,MQ,N908MQ,3349,ALO,Waterloo,ORD,Chicago,605,-8.0,-1.0,14.0,611.0,652.0,37.0,725,4.0,0.0,0.0,NaN,0.0,92.0,41.0,1.0,234.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5819075,2015,9,20,7,MQ,N609MQ,3349,ALO,Waterloo,ORD,Chicago,605,-5.0,-1.0,6.0,606.0,646.0,26.0,725,-13.0,-1.0,0.0,NaN,0.0,72.0,40.0,1.0,234.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5819076,2015,9,21,1,MQ,N907MQ,3349,ALO,Waterloo,ORD,Chicago,605,-9.0,-1.0,11.0,607.0,649.0,14.0,725,-22.0,-2.0,0.0,NaN,0.0,67.0,42.0,1.0,234.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5819077,2015,9,22,2,MQ,N669MQ,3349,ALO,Waterloo,ORD,Chicago,605,0.0,0.0,10.0,615.0,657.0,9.0,725,-19.0,-2.0,0.0,NaN,0.0,61.0,42.0,1.0,234.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5819078,2015,9,23,3,MQ,N854MQ,3349,ALO,Waterloo,ORD,Chicago,605,-5.0,-1.0,9.0,609.0,656.0,13.0,725,-16.0,-2.0,0.0,NaN,0.0,69.0,47.0,1.0,234.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
flights.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5819079 entries, 0 to 5819078
Data columns (total 36 columns):
 #   Column               Dtype
---  ------               -----
 0   YEAR                 int64
 1   MONTH                int64
 2   DAY_OF_MONTH         int64
 3   DAY_OF_WEEK          int64
 4   OP_CARRIER           object
 5   TAIL_NUM             object
 6   OP_CARRIER_FL_NUM    int64
 7   ORIGIN               object
 8   ORIGIN_CITY_NAME     object
 9   DEST                 object
 10  DEST_CITY_NAME       object
 11  CRS_DEP_TIME         int64
 12  DEP_DELAY            float64
 13  DEP_DELAY_GROUP      float64
 14  TAXI_OUT             float64
 15  WHEELS_OFF           float64
 16  WHEELS_ON            float64
 17  TAXI_IN              float64
 18  CRS_ARR_TIME         int64
 19  ARR_DELAY            float64
 20  ARR_DELAY_GROUP      float64
 21  CANCELLED            float64
 22  CANCELLATION_CODE    object
 23  DIVERTED             float64
 24  ACTUAL_ELAPSED_TIME  float64
 25  AIR_TIME             float64
 26  FLIGHTS              float64
 27  DISTANCE             float64
 28  CARRIER_DELAY        float64
 29  WEATHER_DELAY        float64
 30  NAS_DELAY            float64
 31  SECURITY_DELAY       float64
 32  LATE_AIRCRAFT_DELAY  float64
 33  FIRST_DEP_TIME       float64
 34  TOTAL_ADD_GTIME      float64
 35  LONGEST_ADD_GTIME    float64
dtypes: float64(22), int64(7), object(7)
memory usage: 1.6+ GB

In [5]:
flights.CANCELLATION_CODE.value_counts()

B    48851
A    25262
C    15749
D       22
Name: CANCELLATION_CODE, dtype: int64

In [6]:
def encode_cancellation_code(x):
    if x == 'A':
        return 0
    elif x == 'B':
        return 1
    elif x == 'C':
        return 2
    elif x == 'D':
        return 3
    else:
        return -1

In [7]:
flights.CANCELLATION_CODE = flights.CANCELLATION_CODE.apply(encode_cancellation_code)

In [8]:
flights.CANCELLATION_CODE.value_counts()

-1    5729195
 1      48851
 0      25262
 2      15749
 3         22
Name: CANCELLATION_CODE, dtype: int64

### Перевод во время

In [3]:
# Function that convert the 'HHMM' string to datetime.time
def format_heure(chaine):
    if pd.isnull(chaine):
        return np.nan
    else:
        if chaine == 2400: chaine = 0
        chaine = "{0:04d}".format(int(chaine))
        #heure = datetime.time(int(chaine[0:2]), int(chaine[2:4]))
        heure = datetime.time(int(chaine[0:2]), 0)
        return heure
#_____________________________________________________________________
# Function that combines a date and time to produce a datetime.datetime
def combine_date_heure(x):
    if pd.isnull(x[0]) or pd.isnull(x[1]):
        return np.nan
    else:
        return datetime.datetime.combine(x[0],x[1])
#_______________________________________________________________________________
# Function that combine two columns of the dataframe to create a datetime format
def create_flight_time(df, col):    
    liste = []
    for index, cols in df[['DATE', col]].iterrows():    
        if pd.isnull(cols[1]):
            liste.append(np.nan)
        elif float(cols[1]) == 2400:
            cols[0] += datetime.timedelta(days=1)
            cols[1] = datetime.time(0,0)
            liste.append(combine_date_heure(cols))
        else:
            cols[1] = format_heure(cols[1])
            liste.append(combine_date_heure(cols))
    return pd.Series(liste)

In [10]:
flights.rename(columns={'DAY_OF_MONTH':'DAY', 'OP_CARRIER':'AIRLINE', 
                        'OP_CARRIER_FL_NUM':'FLIGHT_NUMBER'}, inplace=True)

In [11]:
flights['DATE'] = pd.to_datetime(flights[['YEAR', 'MONTH', 'DAY']])

In [12]:
%%time
flights['SCHEDULED_DEPARTURE'] = create_flight_time(flights, 'CRS_DEP_TIME')

CPU times: user 9min 40s, sys: 984 ms, total: 9min 41s
Wall time: 9min 42s

In [13]:
%%time
flights['SCHEDULED_ARRIVAL'] = create_flight_time(flights, 'CRS_ARR_TIME')

CPU times: user 9min 50s, sys: 1.07 s, total: 9min 51s
Wall time: 9min 52s

In [14]:
flights

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,TAIL_NUM,FLIGHT_MUNBER,ORIGIN,ORIGIN_CITY_NAME,DEST,DEST_CITY_NAME,CRS_DEP_TIME,DEP_DELAY,DEP_DELAY_GROUP,TAXI_OUT,WHEELS_OFF,WHEELS_ON,TAXI_IN,CRS_ARR_TIME,ARR_DELAY,ARR_DELAY_GROUP,CANCELLED,CANCELLATION_CODE,DIVERTED,ACTUAL_ELAPSED_TIME,AIR_TIME,FLIGHTS,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,FIRST_DEP_TIME,TOTAL_ADD_GTIME,LONGEST_ADD_GTIME,DATE,SCHEDULED_DEPARTURE,SCHEDULED_ARRIVAL
0,2015,4,23,4,AA,N3FJAA,165,ORD,Chicago,PHX,Phoenix,1210,-8.0,-1.0,15.0,1217.0,1356.0,6.0,1414,-12.0,-1.0,0.0,-1,0.0,240.0,219.0,1.0,1440.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-04-23,2015-04-23 12:00:00,2015-04-23 14:00:00
1,2015,4,24,5,AA,N3BAAA,165,ORD,Chicago,PHX,Phoenix,1210,4.0,0.0,19.0,1233.0,1417.0,12.0,1414,15.0,1.0,0.0,-1,0.0,255.0,224.0,1.0,1440.0,0.0,0.0,15.0,0.0,0.0,NaN,NaN,NaN,2015-04-24,2015-04-24 12:00:00,2015-04-24 14:00:00
2,2015,4,25,6,AA,N3CUAA,165,ORD,Chicago,PHX,Phoenix,1210,44.0,2.0,24.0,1318.0,1441.0,4.0,1414,31.0,2.0,0.0,-1,0.0,231.0,203.0,1.0,1440.0,31.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,2015-04-25,2015-04-25 12:00:00,2015-04-25 14:00:00
3,2015,4,26,7,AA,N3HKAA,165,ORD,Chicago,PHX,Phoenix,1210,-5.0,-1.0,11.0,1216.0,1326.0,4.0,1414,-44.0,-2.0,0.0,-1,0.0,205.0,190.0,1.0,1440.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-04-26,2015-04-26 12:00:00,2015-04-26 14:00:00
4,2015,4,27,1,AA,N3DMAA,165,ORD,Chicago,PHX,Phoenix,1210,9.0,0.0,11.0,1230.0,1328.0,22.0,1414,-24.0,-2.0,0.0,-1,0.0,211.0,178.0,1.0,1440.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-04-27,2015-04-27 12:00:00,2015-04-27 14:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5819074,2015,9,19,6,MQ,N908MQ,3349,ALO,Waterloo,ORD,Chicago,605,-8.0,-1.0,14.0,611.0,652.0,37.0,725,4.0,0.0,0.0,-1,0.0,92.0,41.0,1.0,234.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-09-19,2015-09-19 06:00:00,2015-09-19 07:00:00
5819075,2015,9,20,7,MQ,N609MQ,3349,ALO,Waterloo,ORD,Chicago,605,-5.0,-1.0,6.0,606.0,646.0,26.0,725,-13.0,-1.0,0.0,-1,0.0,72.0,40.0,1.0,234.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-09-20,2015-09-20 06:00:00,2015-09-20 07:00:00
5819076,2015,9,21,1,MQ,N907MQ,3349,ALO,Waterloo,ORD,Chicago,605,-9.0,-1.0,11.0,607.0,649.0,14.0,725,-22.0,-2.0,0.0,-1,0.0,67.0,42.0,1.0,234.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-09-21,2015-09-21 06:00:00,2015-09-21 07:00:00
5819077,2015,9,22,2,MQ,N669MQ,3349,ALO,Waterloo,ORD,Chicago,605,0.0,0.0,10.0,615.0,657.0,9.0,725,-19.0,-2.0,0.0,-1,0.0,61.0,42.0,1.0,234.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-09-22,2015-09-22 06:00:00,2015-09-22 07:00:00
5819078,2015,9,23,3,MQ,N854MQ,3349,ALO,Waterloo,ORD,Chicago,605,-5.0,-1.0,9.0,609.0,656.0,13.0,725,-16.0,-2.0,0.0,-1,0.0,69.0,47.0,1.0,234.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-09-23,2015-09-23 06:00:00,2015-09-23 07:00:00

In [15]:
%%time
flights.to_csv('flights.csv', index=False)

CPU times: user 2min 40s, sys: 1.48 s, total: 2min 41s
Wall time: 2min 42s

### Погода

In [3]:
flights = pd.read_csv('flights.csv')

flights.head()

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,TAIL_NUM,FLIGHT_MUNBER,ORIGIN,ORIGIN_CITY_NAME,DEST,DEST_CITY_NAME,CRS_DEP_TIME,DEP_DELAY,DEP_DELAY_GROUP,TAXI_OUT,WHEELS_OFF,WHEELS_ON,TAXI_IN,CRS_ARR_TIME,ARR_DELAY,ARR_DELAY_GROUP,CANCELLED,CANCELLATION_CODE,DIVERTED,ACTUAL_ELAPSED_TIME,AIR_TIME,FLIGHTS,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,FIRST_DEP_TIME,TOTAL_ADD_GTIME,LONGEST_ADD_GTIME,DATE,SCHEDULED_DEPARTURE,SCHEDULED_ARRIVAL
0,2015,4,23,4,AA,N3FJAA,165,ORD,Chicago,PHX,Phoenix,1210,-8.0,-1.0,15.0,1217.0,1356.0,6.0,1414,-12.0,-1.0,0.0,-1,0.0,240.0,219.0,1.0,1440.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-04-23 00:00:00,2015-04-23 12:00:00,2015-04-23 14:00:00
1,2015,4,24,5,AA,N3BAAA,165,ORD,Chicago,PHX,Phoenix,1210,4.0,0.0,19.0,1233.0,1417.0,12.0,1414,15.0,1.0,0.0,-1,0.0,255.0,224.0,1.0,1440.0,0.0,0.0,15.0,0.0,0.0,NaN,NaN,NaN,2015-04-24 00:00:00,2015-04-24 12:00:00,2015-04-24 14:00:00
2,2015,4,25,6,AA,N3CUAA,165,ORD,Chicago,PHX,Phoenix,1210,44.0,2.0,24.0,1318.0,1441.0,4.0,1414,31.0,2.0,0.0,-1,0.0,231.0,203.0,1.0,1440.0,31.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,2015-04-25 00:00:00,2015-04-25 12:00:00,2015-04-25 14:00:00
3,2015,4,26,7,AA,N3HKAA,165,ORD,Chicago,PHX,Phoenix,1210,-5.0,-1.0,11.0,1216.0,1326.0,4.0,1414,-44.0,-2.0,0.0,-1,0.0,205.0,190.0,1.0,1440.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-04-26 00:00:00,2015-04-26 12:00:00,2015-04-26 14:00:00
4,2015,4,27,1,AA,N3DMAA,165,ORD,Chicago,PHX,Phoenix,1210,9.0,0.0,11.0,1230.0,1328.0,22.0,1414,-24.0,-2.0,0.0,-1,0.0,211.0,178.0,1.0,1440.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-04-27 00:00:00,2015-04-27 12:00:00,2015-04-27 14:00:00

In [4]:
flights.DATE = pd.to_datetime(flights.DATE)
flights.SCHEDULED_DEPARTURE = pd.to_datetime(flights.SCHEDULED_DEPARTURE)
flights.SCHEDULED_ARRIVAL = pd.to_datetime(flights.SCHEDULED_ARRIVAL)

In [5]:
flights.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5819079 entries, 0 to 5819078
Data columns (total 39 columns):
 #   Column               Dtype
---  ------               -----
 0   YEAR                 int64
 1   MONTH                int64
 2   DAY                  int64
 3   DAY_OF_WEEK          int64
 4   AIRLINE              object
 5   TAIL_NUM             object
 6   FLIGHT_MUNBER        int64
 7   ORIGIN               object
 8   ORIGIN_CITY_NAME     object
 9   DEST                 object
 10  DEST_CITY_NAME       object
 11  CRS_DEP_TIME         int64
 12  DEP_DELAY            float64
 13  DEP_DELAY_GROUP      float64
 14  TAXI_OUT             float64
 15  WHEELS_OFF           float64
 16  WHEELS_ON            float64
 17  TAXI_IN              float64
 18  CRS_ARR_TIME         int64
 19  ARR_DELAY            float64
 20  ARR_DELAY_GROUP      float64
 21  CANCELLED            float64
 22  CANCELLATION_CODE    int64
 23  DIVERTED             float64
 24  ACTUAL_ELAPSED_TIME  float64
 25  AIR_TIME             float64
 26  FLIGHTS              float64
 27  DISTANCE             float64
 28  CARRIER_DELAY        float64
 29  WEATHER_DELAY        float64
 30  NAS_DELAY            float64
 31  SECURITY_DELAY       float64
 32  LATE_AIRCRAFT_DELAY  float64
 33  FIRST_DEP_TIME       float64
 34  TOTAL_ADD_GTIME      float64
 35  LONGEST_ADD_GTIME    float64
 36  DATE                 datetime64[ns]
 37  SCHEDULED_DEPARTURE  datetime64[ns]
 38  SCHEDULED_ARRIVAL    datetime64[ns]
dtypes: datetime64[ns](3), float64(22), int64(8), object(6)
memory usage: 1.7+ GB

In [6]:
weather = pd.read_csv('city_weather.csv')

/home/max/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (0,10,18,20,21) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [7]:
weather.date_time = pd.to_datetime(weather.date_time)
weather.head()

,date,maxtempC,mintempC,totalSnow_cm,sunHour,uvIndex,sunrise,sunset,moonrise,moonset,moon_phase,moon_illumination,time,tempC,tempF,windspeedMiles,windspeedKmph,winddirDegree,winddir16Point,weatherCode,weatherIconUrl,weatherDesc,precipMM,precipInches,humidity,visibility,visibilityMiles,pressure,pressureInches,cloudcover,HeatIndexC,HeatIndexF,DewPointC,DewPointF,WindChillC,WindChillF,WindGustMiles,WindGustKmph,FeelsLikeC,FeelsLikeF,date_time,location
0,2015-01-01,10,7,0.0,2.6,3,08:48 AM,03:37 PM,01:24 PM,04:33 AM,Waxing Gibbous,72,0.0,8,46.0,17.0,28,211,SSW,116.0,[{'value': 'http://cdn.worldweatheronline.com/...,[{'value': 'Partly cloudy'}],0.0,0.0,92,10,6.0,1014,30.0,30,8,46.0,6,44.0,4,38.0,30.0,49,4,38.0,2015-01-01 00:00:00,Aberdeen
1,2015-01-01,10,7,0.0,2.6,3,08:48 AM,03:37 PM,01:24 PM,04:33 AM,Waxing Gibbous,72,1.0,7,45.0,19.0,30,215,SW,116.0,[{'value': 'http://cdn.worldweatheronline.com/...,[{'value': 'Partly cloudy'}],0.0,0.0,90,10,6.0,1013,30.0,24,7,45.0,6,42.0,3,38.0,32.0,52,3,38.0,2015-01-01 01:00:00,Aberdeen
2,2015-01-01,10,7,0.0,2.6,3,08:48 AM,03:37 PM,01:24 PM,04:33 AM,Waxing Gibbous,72,2.0,7,45.0,20.0,32,219,SW,113.0,[{'value': 'http://cdn.worldweatheronline.com/...,[{'value': 'Clear'}],0.0,0.0,87,10,6.0,1013,30.0,19,7,45.0,5,41.0,3,37.0,34.0,55,3,37.0,2015-01-01 02:00:00,Aberdeen
3,2015-01-01,10,7,0.0,2.6,3,08:48 AM,03:37 PM,01:24 PM,04:33 AM,Waxing Gibbous,72,3.0,7,45.0,21.0,34,223,SW,113.0,[{'value': 'http://cdn.worldweatheronline.com/...,[{'value': 'Clear'}],0.0,0.0,85,10,6.0,1012,30.0,13,7,45.0,5,40.0,2,36.0,36.0,59,2,36.0,2015-01-01 03:00:00,Aberdeen
4,2015-01-01,10,7,0.0,2.6,3,08:48 AM,03:37 PM,01:24 PM,04:33 AM,Waxing Gibbous,72,4.0,7,45.0,19.0,31,225,SW,113.0,[{'value': 'http://cdn.worldweatheronline.com/...,[{'value': 'Clear'}],0.0,0.0,85,10,6.0,1012,30.0,18,7,45.0,5,41.0,3,37.0,33.0,54,3,37.0,2015-01-01 04:00:00,Aberdeen

In [8]:
weather.drop(columns=['weatherIconUrl', 'weatherDesc', 'FeelsLikeF', 'HeatIndexF', 'DewPointF',
                     'WindChillF', 'WindGustMiles', 'pressureInches', 'visibilityMiles', 'precipInches',
                     'winddir16Point', 'windspeedMiles', 'tempF', 'date', 'time'], inplace=True)

In [9]:
weather.shape

(2855760, 27)

In [10]:
weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2855760 entries, 0 to 2855759
Data columns (total 27 columns):
 #   Column             Dtype
---  ------             -----
 0   maxtempC           int64
 1   mintempC           int64
 2   totalSnow_cm       float64
 3   sunHour            float64
 4   uvIndex            int64
 5   sunrise            object
 6   sunset             object
 7   moonrise           object
 8   moonset            object
 9   moon_phase         object
 10  moon_illumination  int64
 11  tempC              int64
 12  windspeedKmph      int64
 13  winddirDegree      int64
 14  weatherCode        float64
 15  precipMM           float64
 16  humidity           int64
 17  visibility         int64
 18  pressure           int64
 19  cloudcover         int64
 20  HeatIndexC         int64
 21  DewPointC          int64
 22  WindChillC         int64
 23  WindGustKmph       int64
 24  FeelsLikeC         int64
 25  date_time          datetime64[ns]
 26  location           object
dtypes: datetime64[ns](1), float64(4), int64(16), object(6)
memory usage: 588.3+ MB

In [11]:
weather.location.value_counts().sort_index()

Aberdeen         8760
Abilene          8760
Adak             8760
Adak-Island      8760
Agana            8760
                 ...
Windsor-Locks    8760
Worcester        8760
Wrangell         8760
Yakutat          8760
Yuma             8760
Name: location, Length: 326, dtype: int64

In [12]:
flights.DEST_CITY_NAME.value_counts().sort_index()

Aberdeen        742
Abilene        2528
Adak-Island     105
Aguadilla      1441
Akron          6588
               ...
Wilmington     2174
Worcester       730
Wrangell        726
Yakutat         724
Yuma           2055
Name: DEST_CITY_NAME, Length: 305, dtype: int64

In [13]:
%%time
flights = pd.merge(flights, weather, how='left', left_on=['ORIGIN_CITY_NAME', 'SCHEDULED_DEPARTURE'], 
              right_on=['location', 'date_time'])

CPU times: user 7.99 s, sys: 10 s, total: 18 s
Wall time: 23.6 s

In [14]:
flights.head()

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,TAIL_NUM,FLIGHT_MUNBER,ORIGIN,ORIGIN_CITY_NAME,DEST,DEST_CITY_NAME,CRS_DEP_TIME,DEP_DELAY,DEP_DELAY_GROUP,TAXI_OUT,WHEELS_OFF,WHEELS_ON,TAXI_IN,CRS_ARR_TIME,ARR_DELAY,ARR_DELAY_GROUP,CANCELLED,CANCELLATION_CODE,DIVERTED,ACTUAL_ELAPSED_TIME,...,totalSnow_cm,sunHour,uvIndex,sunrise,sunset,moonrise,moonset,moon_phase,moon_illumination,tempC,windspeedKmph,winddirDegree,weatherCode,precipMM,humidity,visibility,pressure,cloudcover,HeatIndexC,DewPointC,WindChillC,WindGustKmph,FeelsLikeC,date_time,location
0,2015,4,23,4,AA,N3FJAA,165,ORD,Chicago,PHX,Phoenix,1210,-8.0,-1.0,15.0,1217.0,1356.0,6.0,1414,-12.0,-1.0,0.0,-1,0.0,240.0,...,0.0,13.8,3,04:58 AM,06:40 PM,09:02 AM,11:45 PM,Waxing Crescent,29,8,12,324,113.0,0.0,55,10,1018,23,8,-1,5,17,5,2015-04-23 12:00:00,Chicago
1,2015,4,24,5,AA,N3BAAA,165,ORD,Chicago,PHX,Phoenix,1210,4.0,0.0,19.0,1233.0,1417.0,12.0,1414,15.0,1.0,0.0,-1,0.0,255.0,...,0.0,12.2,3,04:57 AM,06:41 PM,09:58 AM,No moonset,Waxing Crescent,36,11,13,90,116.0,0.0,41,10,1017,46,11,-1,10,22,10,2015-04-24 12:00:00,Chicago
2,2015,4,25,6,AA,N3CUAA,165,ORD,Chicago,PHX,Phoenix,1210,44.0,2.0,24.0,1318.0,1441.0,4.0,1414,31.0,2.0,0.0,-1,0.0,231.0,...,0.0,9.8,2,04:56 AM,06:42 PM,10:54 AM,12:27 AM,First Quarter,44,5,14,60,122.0,0.0,90,10,1009,100,5,4,2,22,2,2015-04-25 12:00:00,Chicago
3,2015,4,26,7,AA,N3HKAA,165,ORD,Chicago,PHX,Phoenix,1210,-5.0,-1.0,11.0,1216.0,1326.0,4.0,1414,-44.0,-2.0,0.0,-1,0.0,205.0,...,0.0,13.9,3,04:54 AM,06:43 PM,11:51 AM,01:05 AM,First Quarter,52,8,17,15,113.0,0.0,62,10,1017,3,8,2,6,23,6,2015-04-26 12:00:00,Chicago
4,2015,4,27,1,AA,N3DMAA,165,ORD,Chicago,PHX,Phoenix,1210,9.0,0.0,11.0,1230.0,1328.0,22.0,1414,-24.0,-2.0,0.0,-1,0.0,211.0,...,0.0,13.9,3,04:53 AM,06:44 PM,12:48 PM,01:39 AM,First Quarter,59,7,27,13,113.0,0.0,76,10,1021,14,7,3,3,39,3,2015-04-27 12:00:00,Chicago

In [15]:
flights.drop(['location', 'date_time'], axis=1, inplace=True)

In [16]:
%%time
flights.to_csv('flights_weather.csv', index=False)

CPU times: user 5min 10s, sys: 5.67 s, total: 5min 16s
Wall time: 5min 21s

### Погода в городе назначения

In [4]:
%%time
flights = pd.read_csv('flights_weather.csv')

CPU times: user 37.5 s, sys: 12.4 s, total: 49.9 s
Wall time: 57 s

In [7]:
flights.DATE = pd.to_datetime(flights.DATE)
flights.SCHEDULED_DEPARTURE = pd.to_datetime(flights.SCHEDULED_DEPARTURE)
flights.SCHEDULED_ARRIVAL = pd.to_datetime(flights.SCHEDULED_ARRIVAL)

In [5]:
weather = pd.read_csv('city_weather.csv')

/home/max/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (0,10,18,20,21) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [6]:
weather.date_time = pd.to_datetime(weather.date_time)
weather.head()

,date,maxtempC,mintempC,totalSnow_cm,sunHour,uvIndex,sunrise,sunset,moonrise,moonset,moon_phase,moon_illumination,time,tempC,tempF,windspeedMiles,windspeedKmph,winddirDegree,winddir16Point,weatherCode,weatherIconUrl,weatherDesc,precipMM,precipInches,humidity,visibility,visibilityMiles,pressure,pressureInches,cloudcover,HeatIndexC,HeatIndexF,DewPointC,DewPointF,WindChillC,WindChillF,WindGustMiles,WindGustKmph,FeelsLikeC,FeelsLikeF,date_time,location
0,2015-01-01,10,7,0.0,2.6,3,08:48 AM,03:37 PM,01:24 PM,04:33 AM,Waxing Gibbous,72,0.0,8,46.0,17.0,28,211,SSW,116.0,[{'value': 'http://cdn.worldweatheronline.com/...,[{'value': 'Partly cloudy'}],0.0,0.0,92,10,6.0,1014,30.0,30,8,46.0,6,44.0,4,38.0,30.0,49,4,38.0,2015-01-01 00:00:00,Aberdeen
1,2015-01-01,10,7,0.0,2.6,3,08:48 AM,03:37 PM,01:24 PM,04:33 AM,Waxing Gibbous,72,1.0,7,45.0,19.0,30,215,SW,116.0,[{'value': 'http://cdn.worldweatheronline.com/...,[{'value': 'Partly cloudy'}],0.0,0.0,90,10,6.0,1013,30.0,24,7,45.0,6,42.0,3,38.0,32.0,52,3,38.0,2015-01-01 01:00:00,Aberdeen
2,2015-01-01,10,7,0.0,2.6,3,08:48 AM,03:37 PM,01:24 PM,04:33 AM,Waxing Gibbous,72,2.0,7,45.0,20.0,32,219,SW,113.0,[{'value': 'http://cdn.worldweatheronline.com/...,[{'value': 'Clear'}],0.0,0.0,87,10,6.0,1013,30.0,19,7,45.0,5,41.0,3,37.0,34.0,55,3,37.0,2015-01-01 02:00:00,Aberdeen
3,2015-01-01,10,7,0.0,2.6,3,08:48 AM,03:37 PM,01:24 PM,04:33 AM,Waxing Gibbous,72,3.0,7,45.0,21.0,34,223,SW,113.0,[{'value': 'http://cdn.worldweatheronline.com/...,[{'value': 'Clear'}],0.0,0.0,85,10,6.0,1012,30.0,13,7,45.0,5,40.0,2,36.0,36.0,59,2,36.0,2015-01-01 03:00:00,Aberdeen
4,2015-01-01,10,7,0.0,2.6,3,08:48 AM,03:37 PM,01:24 PM,04:33 AM,Waxing Gibbous,72,4.0,7,45.0,19.0,31,225,SW,113.0,[{'value': 'http://cdn.worldweatheronline.com/...,[{'value': 'Clear'}],0.0,0.0,85,10,6.0,1012,30.0,18,7,45.0,5,41.0,3,37.0,33.0,54,3,37.0,2015-01-01 04:00:00,Aberdeen

In [17]:
weather = weather[['date_time', 'location', 'weatherCode']]

In [18]:
%%time
flights = pd.merge(flights, weather, how='left', left_on=['DEST_CITY_NAME', 'SCHEDULED_ARRIVAL'], 
              right_on=['location', 'date_time'], suffixes=['_origin', '_dest'])

CPU times: user 12.2 s, sys: 18.4 s, total: 30.6 s
Wall time: 38.6 s

In [19]:
flights.head()

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,TAIL_NUM,FLIGHT_MUNBER,ORIGIN,ORIGIN_CITY_NAME,DEST,DEST_CITY_NAME,CRS_DEP_TIME,DEP_DELAY,DEP_DELAY_GROUP,TAXI_OUT,WHEELS_OFF,WHEELS_ON,TAXI_IN,CRS_ARR_TIME,ARR_DELAY,ARR_DELAY_GROUP,CANCELLED,CANCELLATION_CODE,DIVERTED,ACTUAL_ELAPSED_TIME,...,sunHour,uvIndex,sunrise,sunset,moonrise,moonset,moon_phase,moon_illumination,tempC,windspeedKmph,winddirDegree,weatherCode_origin,precipMM,humidity,visibility,pressure,cloudcover,HeatIndexC,DewPointC,WindChillC,WindGustKmph,FeelsLikeC,date_time,location,weatherCode_dest
0,2015,4,23,4,AA,N3FJAA,165,ORD,Chicago,PHX,Phoenix,1210,-8.0,-1.0,15.0,1217.0,1356.0,6.0,1414,-12.0,-1.0,0.0,-1,0.0,240.0,...,13.8,3,04:58 AM,06:40 PM,09:02 AM,11:45 PM,Waxing Crescent,29,8,12,324,113.0,0.0,55,10,1018,23,8,-1,5,17,5,2015-04-23 14:00:00,Phoenix,200.0
1,2015,4,24,5,AA,N3BAAA,165,ORD,Chicago,PHX,Phoenix,1210,4.0,0.0,19.0,1233.0,1417.0,12.0,1414,15.0,1.0,0.0,-1,0.0,255.0,...,12.2,3,04:57 AM,06:41 PM,09:58 AM,No moonset,Waxing Crescent,36,11,13,90,116.0,0.0,41,10,1017,46,11,-1,10,22,10,2015-04-24 14:00:00,Phoenix,176.0
2,2015,4,25,6,AA,N3CUAA,165,ORD,Chicago,PHX,Phoenix,1210,44.0,2.0,24.0,1318.0,1441.0,4.0,1414,31.0,2.0,0.0,-1,0.0,231.0,...,9.8,2,04:56 AM,06:42 PM,10:54 AM,12:27 AM,First Quarter,44,5,14,60,122.0,0.0,90,10,1009,100,5,4,2,22,2,2015-04-25 14:00:00,Phoenix,113.0
3,2015,4,26,7,AA,N3HKAA,165,ORD,Chicago,PHX,Phoenix,1210,-5.0,-1.0,11.0,1216.0,1326.0,4.0,1414,-44.0,-2.0,0.0,-1,0.0,205.0,...,13.9,3,04:54 AM,06:43 PM,11:51 AM,01:05 AM,First Quarter,52,8,17,15,113.0,0.0,62,10,1017,3,8,2,6,23,6,2015-04-26 14:00:00,Phoenix,116.0
4,2015,4,27,1,AA,N3DMAA,165,ORD,Chicago,PHX,Phoenix,1210,9.0,0.0,11.0,1230.0,1328.0,22.0,1414,-24.0,-2.0,0.0,-1,0.0,211.0,...,13.9,3,04:53 AM,06:44 PM,12:48 PM,01:39 AM,First Quarter,59,7,27,13,113.0,0.0,76,10,1021,14,7,3,3,39,3,2015-04-27 14:00:00,Phoenix,113.0

In [20]:
flights.drop(['location', 'date_time'], axis=1, inplace=True)

In [21]:
%%time
flights.to_csv('flights_weather.csv', index=False)

CPU times: user 5min 18s, sys: 4.98 s, total: 5min 23s
Wall time: 5min 26s

### Статистика задержек по городам

In [3]:
%%time
flights = pd.read_csv('flights_weather.csv')

CPU times: user 27.1 s, sys: 12.2 s, total: 39.4 s
Wall time: 48.6 s

In [4]:
delays = pd.read_csv('stats_2014.csv')

In [5]:
delays

,OP_CARRIER,ORIGIN,MONTH,TAIL_NUM,COUNT,MEAN_DELAY,STD_DELAY,MIN_DELAY,25%_DELAY,50%_DELAY,75%_DELAY,MAX_DELAY
0,AA,ABQ,1,N200AA,2.0,35.5,50.204581,0.0,17.75,35.5,53.25,71.0
1,AA,ABQ,1,N202AA,1.0,-13.0,NaN,-13.0,-13.00,-13.0,-13.00,-13.0
2,AA,ABQ,1,N426AA,2.0,-4.0,5.656854,-8.0,-6.00,-4.0,-2.00,0.0
3,AA,ABQ,1,N436AA,2.0,-1.0,0.000000,-1.0,-1.00,-1.0,-1.00,-1.0
4,AA,ABQ,1,N437AA,1.0,-3.0,NaN,-3.0,-3.00,-3.0,-3.00,-3.0
...,...,...,...,...,...,...,...,...,...,...,...,...
1467683,WN,TUS,12,N959WN,2.0,26.0,36.769553,0.0,13.00,26.0,39.00,52.0
1467684,WN,TUS,12,N963WN,1.0,41.0,NaN,41.0,41.00,41.0,41.00,41.0
1467685,WN,TUS,12,N964WN,1.0,-2.0,NaN,-2.0,-2.00,-2.0,-2.00,-2.0
1467686,WN,TUS,12,N966WN,1.0,-1.0,NaN,-1.0,-1.00,-1.0,-1.00,-1.0
1467687,WN,TUS,12,N967WN,2.0,4.0,9.899495,-3.0,0.50,4.0,7.50,11.0

In [6]:
#%%time
#flights = flights.merge(delays, left_on=['ORIGIN_CITY_NAME', 'MONTH', 'DAY_OF_WEEK'], 
#              right_on=['ORIGIN_CITY_NAME', 'MONTH', 'DAY_OF_WEEK'],
#             how='left')

In [7]:
#%%time
#flights = flights.merge(delays, left_on=['AIRLINE', 'TAIL_NUM', 'ORIGIN', 'DEST', 'MONTH'], 
#              right_on=['OP_CARRIER', 'TAIL_NUM', 'ORIGIN', 'DEST', 'MONTH'],
#             how='left')
#flights.drop('OP_CARRIER', axis=1, inplace=True)

In [6]:
%%time
flights = flights.merge(delays, left_on=['AIRLINE', 'ORIGIN', 'MONTH', 'TAIL_NUM'], 
              right_on=['OP_CARRIER', 'ORIGIN', 'MONTH', 'TAIL_NUM'],
             how='left')
flights.drop('OP_CARRIER', axis=1, inplace=True)

CPU times: user 14.5 s, sys: 22.7 s, total: 37.2 s
Wall time: 1min 9s

In [7]:
#flights.rename(columns={'DEP_DELAY_x':'DEP_DELAY', 'DEP_DELAY_y':'LAST_MEAN_DELAY'}, inplace=True)
flights.head()

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,TAIL_NUM,FLIGHT_MUNBER,ORIGIN,ORIGIN_CITY_NAME,DEST,DEST_CITY_NAME,CRS_DEP_TIME,DEP_DELAY,DEP_DELAY_GROUP,TAXI_OUT,WHEELS_OFF,WHEELS_ON,TAXI_IN,CRS_ARR_TIME,ARR_DELAY,ARR_DELAY_GROUP,CANCELLED,CANCELLATION_CODE,DIVERTED,ACTUAL_ELAPSED_TIME,...,moon_phase,moon_illumination,tempC,windspeedKmph,winddirDegree,weatherCode_origin,precipMM,humidity,visibility,pressure,cloudcover,HeatIndexC,DewPointC,WindChillC,WindGustKmph,FeelsLikeC,weatherCode_dest,COUNT,MEAN_DELAY,STD_DELAY,MIN_DELAY,25%_DELAY,50%_DELAY,75%_DELAY,MAX_DELAY
0,2015,4,23,4,AA,N3FJAA,165,ORD,Chicago,PHX,Phoenix,1210,-8.0,-1.0,15.0,1217.0,1356.0,6.0,1414,-12.0,-1.0,0.0,-1,0.0,240.0,...,Waxing Crescent,29,8,12,324,113.0,0.0,55,10,1018,23,8,-1,5,17,5,200.0,10.0,-1.600000,8.408990,-11.0,-5.5,-3.0,-0.50,20.0
1,2015,4,24,5,AA,N3BAAA,165,ORD,Chicago,PHX,Phoenix,1210,4.0,0.0,19.0,1233.0,1417.0,12.0,1414,15.0,1.0,0.0,-1,0.0,255.0,...,Waxing Crescent,36,11,13,90,116.0,0.0,41,10,1017,46,11,-1,10,22,10,176.0,19.0,22.157895,49.944706,-9.0,-3.0,-1.0,12.00,140.0
2,2015,4,25,6,AA,N3CUAA,165,ORD,Chicago,PHX,Phoenix,1210,44.0,2.0,24.0,1318.0,1441.0,4.0,1414,31.0,2.0,0.0,-1,0.0,231.0,...,First Quarter,44,5,14,60,122.0,0.0,90,10,1009,100,5,4,2,22,2,113.0,11.0,1.636364,16.698938,-7.0,-5.5,-4.0,-0.50,51.0
3,2015,4,26,7,AA,N3HKAA,165,ORD,Chicago,PHX,Phoenix,1210,-5.0,-1.0,11.0,1216.0,1326.0,4.0,1414,-44.0,-2.0,0.0,-1,0.0,205.0,...,First Quarter,52,8,17,15,113.0,0.0,62,10,1017,3,8,2,6,23,6,116.0,22.0,17.272727,37.386249,-8.0,-4.0,-1.5,15.50,128.0
4,2015,4,27,1,AA,N3DMAA,165,ORD,Chicago,PHX,Phoenix,1210,9.0,0.0,11.0,1230.0,1328.0,22.0,1414,-24.0,-2.0,0.0,-1,0.0,211.0,...,First Quarter,59,7,27,13,113.0,0.0,76,10,1021,14,7,3,3,39,3,113.0,18.0,8.333333,26.648033,-6.0,-4.0,-2.5,2.25,94.0

In [8]:
missing_values_table(flights)

Your selected dataframe has 73 columns.
There are 30 columns that have missing values.

                     Missing Values  % of Total Values
LONGEST_ADD_GTIME           5782342               99.4
TOTAL_ADD_GTIME             5782342               99.4
FIRST_DEP_TIME              5782342               99.4
LATE_AIRCRAFT_DELAY         4755640               81.7
SECURITY_DELAY              4755640               81.7
CARRIER_DELAY               4755640               81.7
WEATHER_DELAY               4755640               81.7
NAS_DELAY                   4755640               81.7
STD_DELAY                   2346401               40.3
75%_DELAY                   1795719               30.9
50%_DELAY                   1795719               30.9
25%_DELAY                   1795719               30.9
MIN_DELAY                   1795719               30.9
MEAN_DELAY                  1795719               30.9
MAX_DELAY                   1795719               30.9
COUNT                       1778842               30.6
moon_phase                   348703                6.0
weatherCode_origin           348703                6.0
weatherCode_dest             348667                6.0
AIR_TIME                     105071                1.8
ACTUAL_ELAPSED_TIME          105071                1.8
ARR_DELAY_GROUP              105071                1.8
ARR_DELAY                    105071                1.8
TAXI_IN                       92513                1.6
WHEELS_ON                     92513                1.6
WHEELS_OFF                    89047                1.5
TAXI_OUT                      89047                1.5
DEP_DELAY                     86153                1.5
DEP_DELAY_GROUP               86153                1.5
TAIL_NUM                      14721                0.3

In [9]:
%%time
flights.to_csv('flights_weather_delay.csv', index=False)

CPU times: user 4min 1s, sys: 3.99 s, total: 4min 5s
Wall time: 4min 9s

### Является ли день выходным

In [10]:
def is_weekend(x):
    if (x == 6) | (x == 7):
        return 1
    return 0

In [4]:
%%time
flights = pd.read_csv('flights_weather_delay.csv')
#flights.drop('OP_CARRIER', axis=1, inplace=True)

CPU times: user 38.6 s, sys: 16.1 s, total: 54.8 s
Wall time: 1min 5s

In [11]:
flights['WEEKEND'] = flights.DAY_OF_WEEK.apply(is_weekend)

In [12]:
flights.head()

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,TAIL_NUM,FLIGHT_MUNBER,ORIGIN,ORIGIN_CITY_NAME,DEST,DEST_CITY_NAME,CRS_DEP_TIME,DEP_DELAY,DEP_DELAY_GROUP,TAXI_OUT,WHEELS_OFF,WHEELS_ON,TAXI_IN,CRS_ARR_TIME,ARR_DELAY,ARR_DELAY_GROUP,CANCELLED,CANCELLATION_CODE,DIVERTED,ACTUAL_ELAPSED_TIME,...,moon_illumination,tempC,windspeedKmph,winddirDegree,weatherCode_origin,precipMM,humidity,visibility,pressure,cloudcover,HeatIndexC,DewPointC,WindChillC,WindGustKmph,FeelsLikeC,weatherCode_dest,COUNT,MEAN_DELAY,STD_DELAY,MIN_DELAY,25%_DELAY,50%_DELAY,75%_DELAY,MAX_DELAY,WEEKEND
0,2015,4,23,4,AA,N3FJAA,165,ORD,Chicago,PHX,Phoenix,1210,-8.0,-1.0,15.0,1217.0,1356.0,6.0,1414,-12.0,-1.0,0.0,-1,0.0,240.0,...,29,8,12,324,113.0,0.0,55,10,1018,23,8,-1,5,17,5,200.0,10.0,-1.600000,8.408990,-11.0,-5.5,-3.0,-0.50,20.0,0
1,2015,4,24,5,AA,N3BAAA,165,ORD,Chicago,PHX,Phoenix,1210,4.0,0.0,19.0,1233.0,1417.0,12.0,1414,15.0,1.0,0.0,-1,0.0,255.0,...,36,11,13,90,116.0,0.0,41,10,1017,46,11,-1,10,22,10,176.0,19.0,22.157895,49.944706,-9.0,-3.0,-1.0,12.00,140.0,0
2,2015,4,25,6,AA,N3CUAA,165,ORD,Chicago,PHX,Phoenix,1210,44.0,2.0,24.0,1318.0,1441.0,4.0,1414,31.0,2.0,0.0,-1,0.0,231.0,...,44,5,14,60,122.0,0.0,90,10,1009,100,5,4,2,22,2,113.0,11.0,1.636364,16.698938,-7.0,-5.5,-4.0,-0.50,51.0,1
3,2015,4,26,7,AA,N3HKAA,165,ORD,Chicago,PHX,Phoenix,1210,-5.0,-1.0,11.0,1216.0,1326.0,4.0,1414,-44.0,-2.0,0.0,-1,0.0,205.0,...,52,8,17,15,113.0,0.0,62,10,1017,3,8,2,6,23,6,116.0,22.0,17.272727,37.386249,-8.0,-4.0,-1.5,15.50,128.0,1
4,2015,4,27,1,AA,N3DMAA,165,ORD,Chicago,PHX,Phoenix,1210,9.0,0.0,11.0,1230.0,1328.0,22.0,1414,-24.0,-2.0,0.0,-1,0.0,211.0,...,59,7,27,13,113.0,0.0,76,10,1021,14,7,3,3,39,3,113.0,18.0,8.333333,26.648033,-6.0,-4.0,-2.5,2.25,94.0,0

### Индекс опозданий авиакомпаний за предыдущие года

In [13]:
late_ind = pd.read_csv('late_airline_index.csv')
late_ind.head()

  OP_CARRIER ORIGIN  MONTH  IS_LATE  TOTAL  LATE_AIRLINE_INDEX
0         AA    ABQ      1       28    218            0.128440
1         AA    ABQ      2       19    204            0.093137
2         AA    ABQ      3       17    235            0.072340
3         AA    ABQ      4       14    226            0.061947
4         AA    ABQ      5       17    233            0.072961

In [14]:
flights.head()

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,TAIL_NUM,FLIGHT_MUNBER,ORIGIN,ORIGIN_CITY_NAME,DEST,DEST_CITY_NAME,CRS_DEP_TIME,DEP_DELAY,DEP_DELAY_GROUP,TAXI_OUT,WHEELS_OFF,WHEELS_ON,TAXI_IN,CRS_ARR_TIME,ARR_DELAY,ARR_DELAY_GROUP,CANCELLED,CANCELLATION_CODE,DIVERTED,ACTUAL_ELAPSED_TIME,...,moon_illumination,tempC,windspeedKmph,winddirDegree,weatherCode_origin,precipMM,humidity,visibility,pressure,cloudcover,HeatIndexC,DewPointC,WindChillC,WindGustKmph,FeelsLikeC,weatherCode_dest,COUNT,MEAN_DELAY,STD_DELAY,MIN_DELAY,25%_DELAY,50%_DELAY,75%_DELAY,MAX_DELAY,WEEKEND
0,2015,4,23,4,AA,N3FJAA,165,ORD,Chicago,PHX,Phoenix,1210,-8.0,-1.0,15.0,1217.0,1356.0,6.0,1414,-12.0,-1.0,0.0,-1,0.0,240.0,...,29,8,12,324,113.0,0.0,55,10,1018,23,8,-1,5,17,5,200.0,10.0,-1.600000,8.408990,-11.0,-5.5,-3.0,-0.50,20.0,0
1,2015,4,24,5,AA,N3BAAA,165,ORD,Chicago,PHX,Phoenix,1210,4.0,0.0,19.0,1233.0,1417.0,12.0,1414,15.0,1.0,0.0,-1,0.0,255.0,...,36,11,13,90,116.0,0.0,41,10,1017,46,11,-1,10,22,10,176.0,19.0,22.157895,49.944706,-9.0,-3.0,-1.0,12.00,140.0,0
2,2015,4,25,6,AA,N3CUAA,165,ORD,Chicago,PHX,Phoenix,1210,44.0,2.0,24.0,1318.0,1441.0,4.0,1414,31.0,2.0,0.0,-1,0.0,231.0,...,44,5,14,60,122.0,0.0,90,10,1009,100,5,4,2,22,2,113.0,11.0,1.636364,16.698938,-7.0,-5.5,-4.0,-0.50,51.0,1
3,2015,4,26,7,AA,N3HKAA,165,ORD,Chicago,PHX,Phoenix,1210,-5.0,-1.0,11.0,1216.0,1326.0,4.0,1414,-44.0,-2.0,0.0,-1,0.0,205.0,...,52,8,17,15,113.0,0.0,62,10,1017,3,8,2,6,23,6,116.0,22.0,17.272727,37.386249,-8.0,-4.0,-1.5,15.50,128.0,1
4,2015,4,27,1,AA,N3DMAA,165,ORD,Chicago,PHX,Phoenix,1210,9.0,0.0,11.0,1230.0,1328.0,22.0,1414,-24.0,-2.0,0.0,-1,0.0,211.0,...,59,7,27,13,113.0,0.0,76,10,1021,14,7,3,3,39,3,113.0,18.0,8.333333,26.648033,-6.0,-4.0,-2.5,2.25,94.0,0

In [15]:
flights = flights.merge(late_ind[['OP_CARRIER', 'LATE_AIRLINE_INDEX', 'ORIGIN', 'MONTH']],
                        left_on=['AIRLINE', 'ORIGIN', 'MONTH'],
                        right_on=['OP_CARRIER', 'ORIGIN', 'MONTH'], how='left')
#flights.drop(['OP_CARRIER_x', 'OP_CARRIER_y'], axis=1, inplace=True)
flights.drop('OP_CARRIER', axis=1, inplace=True)

In [16]:
flights.head()

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,TAIL_NUM,FLIGHT_MUNBER,ORIGIN,ORIGIN_CITY_NAME,DEST,DEST_CITY_NAME,CRS_DEP_TIME,DEP_DELAY,DEP_DELAY_GROUP,TAXI_OUT,WHEELS_OFF,WHEELS_ON,TAXI_IN,CRS_ARR_TIME,ARR_DELAY,ARR_DELAY_GROUP,CANCELLED,CANCELLATION_CODE,DIVERTED,ACTUAL_ELAPSED_TIME,...,tempC,windspeedKmph,winddirDegree,weatherCode_origin,precipMM,humidity,visibility,pressure,cloudcover,HeatIndexC,DewPointC,WindChillC,WindGustKmph,FeelsLikeC,weatherCode_dest,COUNT,MEAN_DELAY,STD_DELAY,MIN_DELAY,25%_DELAY,50%_DELAY,75%_DELAY,MAX_DELAY,WEEKEND,LATE_AIRLINE_INDEX
0,2015,4,23,4,AA,N3FJAA,165,ORD,Chicago,PHX,Phoenix,1210,-8.0,-1.0,15.0,1217.0,1356.0,6.0,1414,-12.0,-1.0,0.0,-1,0.0,240.0,...,8,12,324,113.0,0.0,55,10,1018,23,8,-1,5,17,5,200.0,10.0,-1.600000,8.408990,-11.0,-5.5,-3.0,-0.50,20.0,0,0.119103
1,2015,4,24,5,AA,N3BAAA,165,ORD,Chicago,PHX,Phoenix,1210,4.0,0.0,19.0,1233.0,1417.0,12.0,1414,15.0,1.0,0.0,-1,0.0,255.0,...,11,13,90,116.0,0.0,41,10,1017,46,11,-1,10,22,10,176.0,19.0,22.157895,49.944706,-9.0,-3.0,-1.0,12.00,140.0,0,0.119103
2,2015,4,25,6,AA,N3CUAA,165,ORD,Chicago,PHX,Phoenix,1210,44.0,2.0,24.0,1318.0,1441.0,4.0,1414,31.0,2.0,0.0,-1,0.0,231.0,...,5,14,60,122.0,0.0,90,10,1009,100,5,4,2,22,2,113.0,11.0,1.636364,16.698938,-7.0,-5.5,-4.0,-0.50,51.0,1,0.119103
3,2015,4,26,7,AA,N3HKAA,165,ORD,Chicago,PHX,Phoenix,1210,-5.0,-1.0,11.0,1216.0,1326.0,4.0,1414,-44.0,-2.0,0.0,-1,0.0,205.0,...,8,17,15,113.0,0.0,62,10,1017,3,8,2,6,23,6,116.0,22.0,17.272727,37.386249,-8.0,-4.0,-1.5,15.50,128.0,1,0.119103
4,2015,4,27,1,AA,N3DMAA,165,ORD,Chicago,PHX,Phoenix,1210,9.0,0.0,11.0,1230.0,1328.0,22.0,1414,-24.0,-2.0,0.0,-1,0.0,211.0,...,7,27,13,113.0,0.0,76,10,1021,14,7,3,3,39,3,113.0,18.0,8.333333,26.648033,-6.0,-4.0,-2.5,2.25,94.0,0,0.119103

In [17]:
%%time
flights.to_csv('tmp1.csv', index=False)

CPU times: user 4min 22s, sys: 6.07 s, total: 4min 28s
Wall time: 4min 35s

### Индекс опозданий самолётов за предыдущие года

In [3]:
%%time
flights = pd.read_csv('tmp1.csv')

CPU times: user 33.4 s, sys: 15.8 s, total: 49.2 s
Wall time: 1min 2s

In [4]:
late_ind = pd.read_csv('late_tail_index.csv')
late_ind

     TAIL_NUM  IS_LATE  TOTAL  LATE_TAIL_INDEX
0      D942DN      122   1085         0.112442
1      N001AA      215   1246         0.172552
2      N002AA      198   1282         0.154446
3      N003AA      224   1176         0.190476
4      N004AA      160   1159         0.138050
...       ...      ...    ...              ...
4753   N997DL      114   1275         0.089412
4754   N998AT      152   1649         0.092177
4755   N998DL      133   1333         0.099775
4756   N999DN      122   1404         0.086895
4757   N9EAMQ      377   1588         0.237406

[4758 rows x 4 columns]

In [5]:
flights = flights.merge(late_ind[['TAIL_NUM', 'LATE_TAIL_INDEX']], left_on='TAIL_NUM',
                        right_on='TAIL_NUM', how='left')

In [6]:
flights.head()

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,TAIL_NUM,FLIGHT_MUNBER,ORIGIN,ORIGIN_CITY_NAME,DEST,DEST_CITY_NAME,CRS_DEP_TIME,DEP_DELAY,DEP_DELAY_GROUP,TAXI_OUT,WHEELS_OFF,WHEELS_ON,TAXI_IN,CRS_ARR_TIME,ARR_DELAY,ARR_DELAY_GROUP,CANCELLED,CANCELLATION_CODE,DIVERTED,ACTUAL_ELAPSED_TIME,...,windspeedKmph,winddirDegree,weatherCode_origin,precipMM,humidity,visibility,pressure,cloudcover,HeatIndexC,DewPointC,WindChillC,WindGustKmph,FeelsLikeC,weatherCode_dest,COUNT,MEAN_DELAY,STD_DELAY,MIN_DELAY,25%_DELAY,50%_DELAY,75%_DELAY,MAX_DELAY,WEEKEND,LATE_AIRLINE_INDEX,LATE_TAIL_INDEX
0,2015,4,23,4,AA,N3FJAA,165,ORD,Chicago,PHX,Phoenix,1210,-8.0,-1.0,15.0,1217.0,1356.0,6.0,1414,-12.0,-1.0,0.0,-1,0.0,240.0,...,12,324,113.0,0.0,55,10,1018,23,8,-1,5,17,5,200.0,10.0,-1.600000,8.408990,-11.0,-5.5,-3.0,-0.50,20.0,0,0.119103,0.108824
1,2015,4,24,5,AA,N3BAAA,165,ORD,Chicago,PHX,Phoenix,1210,4.0,0.0,19.0,1233.0,1417.0,12.0,1414,15.0,1.0,0.0,-1,0.0,255.0,...,13,90,116.0,0.0,41,10,1017,46,11,-1,10,22,10,176.0,19.0,22.157895,49.944706,-9.0,-3.0,-1.0,12.00,140.0,0,0.119103,0.123330
2,2015,4,25,6,AA,N3CUAA,165,ORD,Chicago,PHX,Phoenix,1210,44.0,2.0,24.0,1318.0,1441.0,4.0,1414,31.0,2.0,0.0,-1,0.0,231.0,...,14,60,122.0,0.0,90,10,1009,100,5,4,2,22,2,113.0,11.0,1.636364,16.698938,-7.0,-5.5,-4.0,-0.50,51.0,1,0.119103,0.136511
3,2015,4,26,7,AA,N3HKAA,165,ORD,Chicago,PHX,Phoenix,1210,-5.0,-1.0,11.0,1216.0,1326.0,4.0,1414,-44.0,-2.0,0.0,-1,0.0,205.0,...,17,15,113.0,0.0,62,10,1017,3,8,2,6,23,6,116.0,22.0,17.272727,37.386249,-8.0,-4.0,-1.5,15.50,128.0,1,0.119103,0.110572
4,2015,4,27,1,AA,N3DMAA,165,ORD,Chicago,PHX,Phoenix,1210,9.0,0.0,11.0,1230.0,1328.0,22.0,1414,-24.0,-2.0,0.0,-1,0.0,211.0,...,27,13,113.0,0.0,76,10,1021,14,7,3,3,39,3,113.0,18.0,8.333333,26.648033,-6.0,-4.0,-2.5,2.25,94.0,0,0.119103,0.119418

In [7]:
%%time
flights.to_csv('flights_weather_delay_week_ind.csv', index=False)

CPU times: user 4min 21s, sys: 7.31 s, total: 4min 28s
Wall time: 4min 44s

### Был ли задержан предыдущий рейс

In [2]:
%%time
flights = pd.read_csv('flights_weather_delay_week_ind.csv')

CPU times: user 48.2 s, sys: 19.4 s, total: 1min 7s
Wall time: 1min 21s

In [3]:
flights.DATE = pd.to_datetime(flights.DATE)
#flights.SCHEDULED_DEPARTURE = pd.to_datetime(flights.SCHEDULED_DEPARTURE)
#flights.SCHEDULED_ARRIVAL = pd.to_datetime(flights.SCHEDULED_ARRIVAL)

In [4]:
flights.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5819079 entries, 0 to 5819078
Data columns (total 76 columns):
 #   Column               Dtype
---  ------               -----
 0   YEAR                 int64
 1   MONTH                int64
 2   DAY                  int64
 3   DAY_OF_WEEK          int64
 4   AIRLINE              object
 5   TAIL_NUM             object
 6   FLIGHT_MUNBER        int64
 7   ORIGIN               object
 8   ORIGIN_CITY_NAME     object
 9   DEST                 object
 10  DEST_CITY_NAME       object
 11  CRS_DEP_TIME         int64
 12  DEP_DELAY            float64
 13  DEP_DELAY_GROUP      float64
 14  TAXI_OUT             float64
 15  WHEELS_OFF           float64
 16  WHEELS_ON            float64
 17  TAXI_IN              float64
 18  CRS_ARR_TIME         int64
 19  ARR_DELAY            float64
 20  ARR_DELAY_GROUP      float64
 21  CANCELLED            float64
 22  CANCELLATION_CODE    int64
 23  DIVERTED             float64
 24  ACTUAL_ELAPSED_TIME  float64
 25  AIR_TIME             float64
 26  FLIGHTS              float64
 27  DISTANCE             float64
 28  CARRIER_DELAY        float64
 29  WEATHER_DELAY        float64
 30  NAS_DELAY            float64
 31  SECURITY_DELAY       float64
 32  LATE_AIRCRAFT_DELAY  float64
 33  FIRST_DEP_TIME       float64
 34  TOTAL_ADD_GTIME      float64
 35  LONGEST_ADD_GTIME    float64
 36  DATE                 datetime64[ns]
 37  SCHEDULED_DEPARTURE  object
 38  SCHEDULED_ARRIVAL    object
 39  maxtempC             int64
 40  mintempC             int64
 41  totalSnow_cm         float64
 42  sunHour              float64
 43  uvIndex              int64
 44  sunrise              object
 45  sunset               object
 46  moonrise             object
 47  moonset              object
 48  moon_phase           object
 49  moon_illumination    int64
 50  tempC                int64
 51  windspeedKmph        int64
 52  winddirDegree        int64
 53  weatherCode_origin   float64
 54  precipMM             float64
 55  humidity             int64
 56  visibility           int64
 57  pressure             int64
 58  cloudcover           int64
 59  HeatIndexC           int64
 60  DewPointC            int64
 61  WindChillC           int64
 62  WindGustKmph         int64
 63  FeelsLikeC           int64
 64  weatherCode_dest     float64
 65  COUNT                float64
 66  MEAN_DELAY           float64
 67  STD_DELAY            float64
 68  MIN_DELAY            float64
 69  25%_DELAY            float64
 70  50%_DELAY            float64
 71  75%_DELAY            float64
 72  MAX_DELAY            float64
 73  WEEKEND              int64
 74  LATE_AIRLINE_INDEX   float64
 75  LATE_TAIL_INDEX      float64
dtypes: datetime64[ns](1), float64(37), int64(25), object(13)
memory usage: 3.3+ GB

In [5]:
arr_delay = pd.read_csv('df_2015_latearr.csv')
#arr_delay.DATE = pd.to_datetime(arr_delay.DATE)
#arr_delay.SCHEDULED_DEPARTURE = pd.to_datetime(arr_delay.SCHEDULED_DEPARTURE)
arr_delay.tail()

,TAIL_NUM,DATE,SCHEDULED_DEPARTURE,ARR_DELAY,LATE_ARR
5772764,N9EAMQ,2015-12-30 00:00:00,2015-12-30 18:00:00,1.0,1.0
5772765,N9EAMQ,2015-12-31 00:00:00,2015-12-31 09:00:00,-13.0,0.0
5772766,N9EAMQ,2015-12-31 00:00:00,2015-12-31 11:00:00,-1.0,0.0
5772767,N9EAMQ,2015-12-31 00:00:00,2015-12-31 14:00:00,-8.0,0.0
5772768,N9EAMQ,2015-12-31 00:00:00,2015-12-31 18:00:00,12.0,0.0

In [6]:
arr_delay.DATE = pd.to_datetime(arr_delay.DATE)

In [7]:
arr_delay.TAIL_NUM.value_counts()

N480HA    3764
N484HA    3721
N488HA    3716
N493HA    3581
N478HA    3576
          ...
N7LBAA       1
N180UA       1
N175UA       1
N852NW       1
N7LEAA       1
Name: TAIL_NUM, Length: 4897, dtype: int64

In [8]:
flights[flights.TAIL_NUM == 'N480HA']['SCHEDULED_DEPARTURE']

52423      2015-04-26 11:00:00
52427      2015-04-30 11:00:00
53484      2015-04-24 07:00:00
53514      2015-04-24 08:00:00
53525      2015-04-06 20:00:00
                  ...
5813861    2015-09-27 20:00:00
5813871    2015-09-07 19:00:00
5813891    2015-09-27 19:00:00
5813896    2015-09-02 19:00:00
5813901    2015-09-02 18:00:00
Name: SCHEDULED_DEPARTURE, Length: 3768, dtype: object

In [9]:
arr_delay[arr_delay.TAIL_NUM == 'N480HA']['SCHEDULED_DEPARTURE']

2055349    2015-01-01 06:00:00
2055350    2015-01-01 07:00:00
2055351    2015-01-01 08:00:00
2055352    2015-01-01 09:00:00
2055353    2015-01-01 10:00:00
                  ...
2059108    2015-12-27 15:00:00
2059109    2015-12-27 16:00:00
2059110    2015-12-27 17:00:00
2059111    2015-12-27 19:00:00
2059112    2015-12-27 20:00:00
Name: SCHEDULED_DEPARTURE, Length: 3764, dtype: object

In [10]:
%%time
flights = flights.merge(arr_delay.drop('ARR_DELAY', axis=1), on=['TAIL_NUM', 'DATE', 'SCHEDULED_DEPARTURE'], how='left')

CPU times: user 20.1 s, sys: 29.2 s, total: 49.3 s
Wall time: 1min 10s

In [11]:
flights.head()

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,TAIL_NUM,FLIGHT_MUNBER,ORIGIN,ORIGIN_CITY_NAME,DEST,DEST_CITY_NAME,CRS_DEP_TIME,DEP_DELAY,DEP_DELAY_GROUP,TAXI_OUT,WHEELS_OFF,WHEELS_ON,TAXI_IN,CRS_ARR_TIME,ARR_DELAY,ARR_DELAY_GROUP,CANCELLED,CANCELLATION_CODE,DIVERTED,ACTUAL_ELAPSED_TIME,...,winddirDegree,weatherCode_origin,precipMM,humidity,visibility,pressure,cloudcover,HeatIndexC,DewPointC,WindChillC,WindGustKmph,FeelsLikeC,weatherCode_dest,COUNT,MEAN_DELAY,STD_DELAY,MIN_DELAY,25%_DELAY,50%_DELAY,75%_DELAY,MAX_DELAY,WEEKEND,LATE_AIRLINE_INDEX,LATE_TAIL_INDEX,LATE_ARR
0,2015,4,23,4,AA,N3FJAA,165,ORD,Chicago,PHX,Phoenix,1210,-8.0,-1.0,15.0,1217.0,1356.0,6.0,1414,-12.0,-1.0,0.0,-1,0.0,240.0,...,324,113.0,0.0,55,10,1018,23,8,-1,5,17,5,200.0,10.0,-1.600000,8.408990,-11.0,-5.5,-3.0,-0.50,20.0,0,0.119103,0.108824,0.0
1,2015,4,24,5,AA,N3BAAA,165,ORD,Chicago,PHX,Phoenix,1210,4.0,0.0,19.0,1233.0,1417.0,12.0,1414,15.0,1.0,0.0,-1,0.0,255.0,...,90,116.0,0.0,41,10,1017,46,11,-1,10,22,10,176.0,19.0,22.157895,49.944706,-9.0,-3.0,-1.0,12.00,140.0,0,0.119103,0.123330,0.0
2,2015,4,25,6,AA,N3CUAA,165,ORD,Chicago,PHX,Phoenix,1210,44.0,2.0,24.0,1318.0,1441.0,4.0,1414,31.0,2.0,0.0,-1,0.0,231.0,...,60,122.0,0.0,90,10,1009,100,5,4,2,22,2,113.0,11.0,1.636364,16.698938,-7.0,-5.5,-4.0,-0.50,51.0,1,0.119103,0.136511,0.0
3,2015,4,26,7,AA,N3HKAA,165,ORD,Chicago,PHX,Phoenix,1210,-5.0,-1.0,11.0,1216.0,1326.0,4.0,1414,-44.0,-2.0,0.0,-1,0.0,205.0,...,15,113.0,0.0,62,10,1017,3,8,2,6,23,6,116.0,22.0,17.272727,37.386249,-8.0,-4.0,-1.5,15.50,128.0,1,0.119103,0.110572,0.0
4,2015,4,27,1,AA,N3DMAA,165,ORD,Chicago,PHX,Phoenix,1210,9.0,0.0,11.0,1230.0,1328.0,22.0,1414,-24.0,-2.0,0.0,-1,0.0,211.0,...,13,113.0,0.0,76,10,1021,14,7,3,3,39,3,113.0,18.0,8.333333,26.648033,-6.0,-4.0,-2.5,2.25,94.0,0,0.119103,0.119418,1.0

In [13]:
%%time
flights.to_csv('flights_full.csv', index=False)

CPU times: user 7min 8s, sys: 6.3 s, total: 7min 14s
Wall time: 7min 17s

### Количество рейсов в час

In [2]:
%%time
flights = pd.read_csv('flights_full.csv')

CPU times: user 55.1 s, sys: 22.4 s, total: 1min 17s
Wall time: 1min 37s

In [14]:
in_fly = pd.read_csv('IN_FLIGHTS_H.csv')
in_fly

        SCHEDULED_DEPARTURE DEST  IN_FLIGHTS_H
0       2015-01-01 00:00:00  ANC             1
1       2015-01-01 00:00:00  ATL             3
2       2015-01-01 00:00:00  CLT             2
3       2015-01-01 00:00:00  DFW             1
4       2015-01-01 00:00:00  IAH             1
...                     ...  ...           ...
979994  2015-12-31 23:00:00  SEA             8
979995  2015-12-31 23:00:00  SFO             3
979996  2015-12-31 23:00:00  SJU             6
979997  2015-12-31 23:00:00  STL             1
979998  2015-12-31 23:00:00  TPA             1

[979999 rows x 3 columns]

In [15]:
%%time
flights = flights.merge(in_fly, on=['SCHEDULED_DEPARTURE', 'DEST'], how='left')

CPU times: user 16.9 s, sys: 35.2 s, total: 52.1 s
Wall time: 1min 12s

In [18]:
flights.IN_FLIGHTS_H.isna().sum()

0

In [19]:
out_fly = pd.read_csv('OUT_FLIGHTS_H.csv')
out_fly

        SCHEDULED_DEPARTURE ORIGIN  OUT_FLIGHTS_H
0       2015-01-01 00:00:00    ANC              4
1       2015-01-01 00:00:00    DEN              1
2       2015-01-01 00:00:00    LAS              4
3       2015-01-01 00:00:00    LAX              4
4       2015-01-01 00:00:00    PDX              1
...                     ...    ...            ...
947042  2015-12-31 23:00:00    PHX              5
947043  2015-12-31 23:00:00    RNO              1
947044  2015-12-31 23:00:00    SEA             12
947045  2015-12-31 23:00:00    SFO             12
947046  2015-12-31 23:00:00    SLC              2

[947047 rows x 3 columns]

In [20]:
%%time
flights = flights.merge(out_fly, on=['SCHEDULED_DEPARTURE', 'ORIGIN'], how='left')

CPU times: user 4.9 s, sys: 9.91 s, total: 14.8 s
Wall time: 26.9 s

In [21]:
flights.OUT_FLIGHTS_H.isna().sum()

0

In [23]:
flights.head()

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,TAIL_NUM,FLIGHT_MUNBER,ORIGIN,ORIGIN_CITY_NAME,DEST,DEST_CITY_NAME,CRS_DEP_TIME,DEP_DELAY,DEP_DELAY_GROUP,TAXI_OUT,WHEELS_OFF,WHEELS_ON,TAXI_IN,CRS_ARR_TIME,ARR_DELAY,ARR_DELAY_GROUP,CANCELLED,CANCELLATION_CODE,DIVERTED,ACTUAL_ELAPSED_TIME,...,precipMM,humidity,visibility,pressure,cloudcover,HeatIndexC,DewPointC,WindChillC,WindGustKmph,FeelsLikeC,weatherCode_dest,COUNT,MEAN_DELAY,STD_DELAY,MIN_DELAY,25%_DELAY,50%_DELAY,75%_DELAY,MAX_DELAY,WEEKEND,LATE_AIRLINE_INDEX,LATE_TAIL_INDEX,LATE_ARR,IN_FLIGHTS_H,OUT_FLIGHTS_H
0,2015,4,23,4,AA,N3FJAA,165,ORD,Chicago,PHX,Phoenix,1210,-8.0,-1.0,15.0,1217.0,1356.0,6.0,1414,-12.0,-1.0,0.0,-1,0.0,240.0,...,0.0,55,10,1018,23,8,-1,5,17,5,200.0,10.0,-1.600000,8.408990,-11.0,-5.5,-3.0,-0.50,20.0,0,0.119103,0.108824,0.0,38,66
1,2015,4,24,5,AA,N3BAAA,165,ORD,Chicago,PHX,Phoenix,1210,4.0,0.0,19.0,1233.0,1417.0,12.0,1414,15.0,1.0,0.0,-1,0.0,255.0,...,0.0,41,10,1017,46,11,-1,10,22,10,176.0,19.0,22.157895,49.944706,-9.0,-3.0,-1.0,12.00,140.0,0,0.119103,0.123330,0.0,37,65
2,2015,4,25,6,AA,N3CUAA,165,ORD,Chicago,PHX,Phoenix,1210,44.0,2.0,24.0,1318.0,1441.0,4.0,1414,31.0,2.0,0.0,-1,0.0,231.0,...,0.0,90,10,1009,100,5,4,2,22,2,113.0,11.0,1.636364,16.698938,-7.0,-5.5,-4.0,-0.50,51.0,1,0.119103,0.136511,0.0,33,53
3,2015,4,26,7,AA,N3HKAA,165,ORD,Chicago,PHX,Phoenix,1210,-5.0,-1.0,11.0,1216.0,1326.0,4.0,1414,-44.0,-2.0,0.0,-1,0.0,205.0,...,0.0,62,10,1017,3,8,2,6,23,6,116.0,22.0,17.272727,37.386249,-8.0,-4.0,-1.5,15.50,128.0,1,0.119103,0.110572,0.0,37,63
4,2015,4,27,1,AA,N3DMAA,165,ORD,Chicago,PHX,Phoenix,1210,9.0,0.0,11.0,1230.0,1328.0,22.0,1414,-24.0,-2.0,0.0,-1,0.0,211.0,...,0.0,76,10,1021,14,7,3,3,39,3,113.0,18.0,8.333333,26.648033,-6.0,-4.0,-2.5,2.25,94.0,0,0.119103,0.119418,1.0,38,66

In [24]:
%%time
flights.to_csv('flights_h.csv', index=False)

CPU times: user 7min 23s, sys: 8.86 s, total: 7min 32s
Wall time: 7min 35s

### Задержка предыдущего вылета в аэропорту

In [3]:
%%time
flights = pd.read_csv('flights_h.csv')

CPU times: user 52.6 s, sys: 21.5 s, total: 1min 14s
Wall time: 1min 30s

In [4]:
def format_heure(chaine):
    if pd.isnull(chaine):
        return np.nan
    else:
        if chaine == 2400: chaine = 0
        chaine = "{0:04d}".format(int(chaine))
        heure = datetime.time(int(chaine[0:2]), int(chaine[2:4]))
        #heure = datetime.time(int(chaine[0:2]), 0)
        return heure

def combine_date_heure(x):
    if pd.isnull(x[0]) or pd.isnull(x[1]):
        return np.nan
    else:
        return datetime.datetime.combine(x[0],x[1])

    def create_flight_time(df, col):    
    liste = []
    for index, cols in df[['DATE', col]].iterrows():    
        if pd.isnull(cols[1]):
            liste.append(np.nan)
        elif float(cols[1]) == 2400:
            cols[0] += datetime.timedelta(days=1)
            cols[1] = datetime.time(0,0)
            liste.append(combine_date_heure(cols))
        else:
            cols[1] = format_heure(cols[1])
            liste.append(combine_date_heure(cols))
    return pd.Series(liste)

In [5]:
flights.DATE = pd.to_datetime(flights.DATE)
#flights.SCHEDULED_DEPARTURE = pd.to_datetime(flights.SCHEDULED_DEPARTURE)
#flights.SCHEDULED_ARRIVAL = pd.to_datetime(flights.SCHEDULED_ARRIVAL)

In [6]:
%%time
flights['SCHEDULED_DEPARTURE'] = create_flight_time(flights, 'CRS_DEP_TIME')

CPU times: user 16min 45s, sys: 2.76 s, total: 16min 48s
Wall time: 16min 51s

In [7]:
flights.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5819079 entries, 0 to 5819078
Data columns (total 79 columns):
 #   Column               Dtype
---  ------               -----
 0   YEAR                 int64
 1   MONTH                int64
 2   DAY                  int64
 3   DAY_OF_WEEK          int64
 4   AIRLINE              object
 5   TAIL_NUM             object
 6   FLIGHT_MUNBER        int64
 7   ORIGIN               object
 8   ORIGIN_CITY_NAME     object
 9   DEST                 object
 10  DEST_CITY_NAME       object
 11  CRS_DEP_TIME         int64
 12  DEP_DELAY            float64
 13  DEP_DELAY_GROUP      float64
 14  TAXI_OUT             float64
 15  WHEELS_OFF           float64
 16  WHEELS_ON            float64
 17  TAXI_IN              float64
 18  CRS_ARR_TIME         int64
 19  ARR_DELAY            float64
 20  ARR_DELAY_GROUP      float64
 21  CANCELLED            float64
 22  CANCELLATION_CODE    int64
 23  DIVERTED             float64
 24  ACTUAL_ELAPSED_TIME  float64
 25  AIR_TIME             float64
 26  FLIGHTS              float64
 27  DISTANCE             float64
 28  CARRIER_DELAY        float64
 29  WEATHER_DELAY        float64
 30  NAS_DELAY            float64
 31  SECURITY_DELAY       float64
 32  LATE_AIRCRAFT_DELAY  float64
 33  FIRST_DEP_TIME       float64
 34  TOTAL_ADD_GTIME      float64
 35  LONGEST_ADD_GTIME    float64
 36  DATE                 datetime64[ns]
 37  SCHEDULED_DEPARTURE  datetime64[ns]
 38  SCHEDULED_ARRIVAL    object
 39  maxtempC             int64
 40  mintempC             int64
 41  totalSnow_cm         float64
 42  sunHour              float64
 43  uvIndex              int64
 44  sunrise              object
 45  sunset               object
 46  moonrise             object
 47  moonset              object
 48  moon_phase           object
 49  moon_illumination    int64
 50  tempC                int64
 51  windspeedKmph        int64
 52  winddirDegree        int64
 53  weatherCode_origin   float64
 54  precipMM             float64
 55  humidity             int64
 56  visibility           int64
 57  pressure             int64
 58  cloudcover           int64
 59  HeatIndexC           int64
 60  DewPointC            int64
 61  WindChillC           int64
 62  WindGustKmph         int64
 63  FeelsLikeC           int64
 64  weatherCode_dest     float64
 65  COUNT                float64
 66  MEAN_DELAY           float64
 67  STD_DELAY            float64
 68  MIN_DELAY            float64
 69  25%_DELAY            float64
 70  50%_DELAY            float64
 71  75%_DELAY            float64
 72  MAX_DELAY            float64
 73  WEEKEND              int64
 74  LATE_AIRLINE_INDEX   float64
 75  LATE_TAIL_INDEX      float64
 76  LATE_ARR             float64
 77  IN_FLIGHTS_H         int64
 78  OUT_FLIGHTS_H        int64
dtypes: datetime64[ns](2), float64(38), int64(27), object(12)
memory usage: 3.4+ GB

In [8]:
#flights.drop(['LATE_DEP', 'LATE_DEP_1', 'LATE_DEP_2', 'LATE_DEP_3', 'LATE_DEP_4'], axis=1, inplace=True)

In [9]:
dep_delay = pd.read_csv('df_2015_latedep.csv')
dep_delay.DATE = pd.to_datetime(dep_delay.DATE)
dep_delay.SCHEDULED_DEPARTURE = pd.to_datetime(dep_delay.SCHEDULED_DEPARTURE)
dep_delay.tail()

,ORIGIN,DATE,SCHEDULED_DEPARTURE,DEP_DELAY,LATE_DEP_1,LATE_DEP_2,LATE_DEP_3,LATE_DEP_4
3828259,YUM,2015-12-31,2015-12-31 09:46:00,-13.0,0.0,0.0,0.0,0.0
3828260,YUM,2015-12-31,2015-12-31 11:30:00,-9.0,0.0,0.0,0.0,0.0
3828261,YUM,2015-12-31,2015-12-31 12:55:00,-10.0,0.0,0.0,0.0,0.0
3828262,YUM,2015-12-31,2015-12-31 16:05:00,-3.0,0.0,0.0,0.0,0.0
3828263,YUM,2015-12-31,2015-12-31 19:00:00,-12.0,0.0,0.0,0.0,0.0

In [10]:
%%time
flights = flights.merge(dep_delay.drop('DEP_DELAY', axis=1), on=['ORIGIN', 'DATE', 'SCHEDULED_DEPARTURE'], how='left')

CPU times: user 20.4 s, sys: 36.5 s, total: 56.9 s
Wall time: 1min 20s

In [11]:
flights.head()

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,TAIL_NUM,FLIGHT_MUNBER,ORIGIN,ORIGIN_CITY_NAME,DEST,DEST_CITY_NAME,CRS_DEP_TIME,DEP_DELAY,DEP_DELAY_GROUP,TAXI_OUT,WHEELS_OFF,WHEELS_ON,TAXI_IN,CRS_ARR_TIME,ARR_DELAY,ARR_DELAY_GROUP,CANCELLED,CANCELLATION_CODE,DIVERTED,ACTUAL_ELAPSED_TIME,...,cloudcover,HeatIndexC,DewPointC,WindChillC,WindGustKmph,FeelsLikeC,weatherCode_dest,COUNT,MEAN_DELAY,STD_DELAY,MIN_DELAY,25%_DELAY,50%_DELAY,75%_DELAY,MAX_DELAY,WEEKEND,LATE_AIRLINE_INDEX,LATE_TAIL_INDEX,LATE_ARR,IN_FLIGHTS_H,OUT_FLIGHTS_H,LATE_DEP_1,LATE_DEP_2,LATE_DEP_3,LATE_DEP_4
0,2015,4,23,4,AA,N3FJAA,165,ORD,Chicago,PHX,Phoenix,1210,-8.0,-1.0,15.0,1217.0,1356.0,6.0,1414,-12.0,-1.0,0.0,-1,0.0,240.0,...,23,8,-1,5,17,5,200.0,10.0,-1.600000,8.408990,-11.0,-5.5,-3.0,-0.50,20.0,0,0.119103,0.108824,0.0,38,66,0.0,0.0,0.0,0.0
1,2015,4,24,5,AA,N3BAAA,165,ORD,Chicago,PHX,Phoenix,1210,4.0,0.0,19.0,1233.0,1417.0,12.0,1414,15.0,1.0,0.0,-1,0.0,255.0,...,46,11,-1,10,22,10,176.0,19.0,22.157895,49.944706,-9.0,-3.0,-1.0,12.00,140.0,0,0.119103,0.123330,0.0,37,65,1.0,1.0,0.0,0.0
2,2015,4,25,6,AA,N3CUAA,165,ORD,Chicago,PHX,Phoenix,1210,44.0,2.0,24.0,1318.0,1441.0,4.0,1414,31.0,2.0,0.0,-1,0.0,231.0,...,100,5,4,2,22,2,113.0,11.0,1.636364,16.698938,-7.0,-5.5,-4.0,-0.50,51.0,1,0.119103,0.136511,0.0,33,53,0.0,1.0,0.0,0.0
3,2015,4,26,7,AA,N3HKAA,165,ORD,Chicago,PHX,Phoenix,1210,-5.0,-1.0,11.0,1216.0,1326.0,4.0,1414,-44.0,-2.0,0.0,-1,0.0,205.0,...,3,8,2,6,23,6,116.0,22.0,17.272727,37.386249,-8.0,-4.0,-1.5,15.50,128.0,1,0.119103,0.110572,0.0,37,63,0.0,1.0,1.0,0.0
4,2015,4,27,1,AA,N3DMAA,165,ORD,Chicago,PHX,Phoenix,1210,9.0,0.0,11.0,1230.0,1328.0,22.0,1414,-24.0,-2.0,0.0,-1,0.0,211.0,...,14,7,3,3,39,3,113.0,18.0,8.333333,26.648033,-6.0,-4.0,-2.5,2.25,94.0,0,0.119103,0.119418,1.0,38,66,1.0,1.0,0.0,0.0

In [12]:
%%time
flights.to_csv('flights_hm.csv', index=False)

CPU times: user 8min 3s, sys: 11.8 s, total: 8min 15s
Wall time: 8min 31s

### Финальные штрихи

In [3]:
%%time
flights = pd.read_csv('flights_hm.csv')

CPU times: user 46.7 s, sys: 21 s, total: 1min 7s
Wall time: 1min 34s

In [13]:
missing_values_table(flights)

Your selected dataframe has 83 columns.
There are 33 columns that have missing values.

                     Missing Values  % of Total Values
FIRST_DEP_TIME              5782342               99.4
LONGEST_ADD_GTIME           5782342               99.4
TOTAL_ADD_GTIME             5782342               99.4
CARRIER_DELAY               4755640               81.7
SECURITY_DELAY              4755640               81.7
NAS_DELAY                   4755640               81.7
WEATHER_DELAY               4755640               81.7
LATE_AIRCRAFT_DELAY         4755640               81.7
STD_DELAY                   2346401               40.3
MAX_DELAY                   1795719               30.9
75%_DELAY                   1795719               30.9
50%_DELAY                   1795719               30.9
25%_DELAY                   1795719               30.9
MIN_DELAY                   1795719               30.9
MEAN_DELAY                  1795719               30.9
COUNT                       1778842               30.6
moon_phase                   348703                6.0
weatherCode_origin           348703                6.0
weatherCode_dest             348667                6.0
LATE_TAIL_INDEX              341388                5.9
LATE_AIRLINE_INDEX           162466                2.8
ACTUAL_ELAPSED_TIME          105071                1.8
ARR_DELAY                    105071                1.8
AIR_TIME                     105071                1.8
ARR_DELAY_GROUP              105071                1.8
WHEELS_ON                     92513                1.6
TAXI_IN                       92513                1.6
TAXI_OUT                      89047                1.5
WHEELS_OFF                    89047                1.5
DEP_DELAY_GROUP               86153                1.5
DEP_DELAY                     86153                1.5
TAIL_NUM                      14721                0.3
LATE_ARR                      14721                0.3

### Урезанный датафрейм для предсказания задержки отлёта

In [14]:
flights.columns

Index(['YEAR', 'MONTH', 'DAY', 'DAY_OF_WEEK', 'AIRLINE', 'TAIL_NUM',
       'FLIGHT_MUNBER', 'ORIGIN', 'ORIGIN_CITY_NAME', 'DEST', 'DEST_CITY_NAME',
       'CRS_DEP_TIME', 'DEP_DELAY', 'DEP_DELAY_GROUP', 'TAXI_OUT',
       'WHEELS_OFF', 'WHEELS_ON', 'TAXI_IN', 'CRS_ARR_TIME', 'ARR_DELAY',
       'ARR_DELAY_GROUP', 'CANCELLED', 'CANCELLATION_CODE', 'DIVERTED',
       'ACTUAL_ELAPSED_TIME', 'AIR_TIME', 'FLIGHTS', 'DISTANCE',
       'CARRIER_DELAY', 'WEATHER_DELAY', 'NAS_DELAY', 'SECURITY_DELAY',
       'LATE_AIRCRAFT_DELAY', 'FIRST_DEP_TIME', 'TOTAL_ADD_GTIME',
       'LONGEST_ADD_GTIME', 'DATE', 'SCHEDULED_DEPARTURE', 'SCHEDULED_ARRIVAL',
       'maxtempC', 'mintempC', 'totalSnow_cm', 'sunHour', 'uvIndex', 'sunrise',
       'sunset', 'moonrise', 'moonset', 'moon_phase', 'moon_illumination',
       'tempC', 'windspeedKmph', 'winddirDegree', 'weatherCode_origin',
       'precipMM', 'humidity', 'visibility', 'pressure', 'cloudcover',
       'HeatIndexC', 'DewPointC', 'WindChillC', 'WindGustKmph', 'FeelsLikeC',
       'weatherCode_dest', 'COUNT', 'MEAN_DELAY', 'STD_DELAY', 'MIN_DELAY',
       '25%_DELAY', '50%_DELAY', '75%_DELAY', 'MAX_DELAY', 'WEEKEND',
       'LATE_AIRLINE_INDEX', 'LATE_TAIL_INDEX', 'LATE_ARR', 'IN_FLIGHTS_H',
       'OUT_FLIGHTS_H', 'LATE_DEP_1', 'LATE_DEP_2', 'LATE_DEP_3',
       'LATE_DEP_4'],
      dtype='object')

In [15]:
flights = flights[(flights.CANCELLED == 0) & (flights.DIVERTED == 0)]

In [16]:
#flights = flights[(flights.DIVERTED == 0)]

In [17]:
flights.shape

(5714008, 83)

In [18]:
flights.drop(columns=['TAXI_IN', 'TAXI_OUT', 'WHEELS_ON', 'WHEELS_OFF', 'ARR_DELAY', 'ARR_DELAY_GROUP',
                     'CANCELLED',#
                     'CANCELLATION_CODE', 'DIVERTED', 'ACTUAL_ELAPSED_TIME', 'AIR_TIME',
                     'CARRIER_DELAY', 'WEATHER_DELAY', 'NAS_DELAY', 'SECURITY_DELAY',
                     'LATE_AIRCRAFT_DELAY', 'DATE', 'SCHEDULED_DEPARTURE', 'SCHEDULED_ARRIVAL',
                     'moonrise', 'moonset', 'sunrise', 'sunset', 'moon_phase'], inplace=True)

### Хэширование категориальных признаков

In [19]:
MOD = 1000000
flights['AIRLINE'] = flights['AIRLINE'].map(lambda x: hash(x) % MOD)
flights['TAIL_NUM'] = flights['TAIL_NUM'].map(lambda x: hash(x) % MOD)
flights['ORIGIN_CITY_NAME'] = flights['ORIGIN_CITY_NAME'].map(lambda x: hash(x) % MOD)
flights['DEST_CITY_NAME'] = flights['DEST_CITY_NAME'].map(lambda x: hash(x) % MOD)
flights['ORIGIN'] = flights['ORIGIN'].map(lambda x: hash(x) % MOD)
flights['DEST'] = flights['DEST'].map(lambda x: hash(x) % MOD)

In [20]:
flights.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5714008 entries, 0 to 5819078
Data columns (total 59 columns):
 #   Column              Dtype
---  ------              -----
 0   YEAR                int64
 1   MONTH               int64
 2   DAY                 int64
 3   DAY_OF_WEEK         int64
 4   AIRLINE             int64
 5   TAIL_NUM            int64
 6   FLIGHT_MUNBER       int64
 7   ORIGIN              int64
 8   ORIGIN_CITY_NAME    int64
 9   DEST                int64
 10  DEST_CITY_NAME      int64
 11  CRS_DEP_TIME        int64
 12  DEP_DELAY           float64
 13  DEP_DELAY_GROUP     float64
 14  CRS_ARR_TIME        int64
 15  FLIGHTS             float64
 16  DISTANCE            float64
 17  FIRST_DEP_TIME      float64
 18  TOTAL_ADD_GTIME     float64
 19  LONGEST_ADD_GTIME   float64
 20  maxtempC            int64
 21  mintempC            int64
 22  totalSnow_cm        float64
 23  sunHour             float64
 24  uvIndex             int64
 25  moon_illumination   int64
 26  tempC               int64
 27  windspeedKmph       int64
 28  winddirDegree       int64
 29  weatherCode_origin  float64
 30  precipMM            float64
 31  humidity            int64
 32  visibility          int64
 33  pressure            int64
 34  cloudcover          int64
 35  HeatIndexC          int64
 36  DewPointC           int64
 37  WindChillC          int64
 38  WindGustKmph        int64
 39  FeelsLikeC          int64
 40  weatherCode_dest    float64
 41  COUNT               float64
 42  MEAN_DELAY          float64
 43  STD_DELAY           float64
 44  MIN_DELAY           float64
 45  25%_DELAY           float64
 46  50%_DELAY           float64
 47  75%_DELAY           float64
 48  MAX_DELAY           float64
 49  WEEKEND             int64
 50  LATE_AIRLINE_INDEX  float64
 51  LATE_TAIL_INDEX     float64
 52  LATE_ARR            float64
 53  IN_FLIGHTS_H        int64
 54  OUT_FLIGHTS_H       int64
 55  LATE_DEP_1          float64
 56  LATE_DEP_2          float64
 57  LATE_DEP_3          float64
 58  LATE_DEP_4          float64
dtypes: float64(27), int64(32)
memory usage: 2.6 GB

In [21]:
%%time
flights.to_csv('dep_delay_df.csv', index=False)

CPU times: user 4min 39s, sys: 3.31 s, total: 4min 42s
Wall time: 4min 43s

In [11]:
%%time
flights.to_csv('can_delay_df.csv', index=False)

CPU times: user 4min 39s, sys: 2.5 s, total: 4min 42s
Wall time: 4min 43s